
<FlexboxLayout flexDirection="column" justifyContent="space-around" class="page m-x-24">      
  <Label [text]="isLogin ? 'Login' : 'Register'" textWrap="true" class="h1 text-center m-t-20 font-weight-bold"></Label>
  
  <StackLayout class="form" *ngIf="isLogin">
    <TextField hint="Username" [(ngModel)]="loginForm.username"class="input input-border m-b-12"></TextField>
    <TextField hint="Password" secure="true" [(ngModel)]="loginForm.password"class="input input-border m-b-12"></TextField>
  </StackLayout>

  <StackLayout class="form" *ngIf="!isLogin">
    <TextField hint="Name" [(ngModel)]="registerForm.name"class="input input-border m-b-12"></TextField>
    <TextField hint="Username" [(ngModel)]="registerForm.username"class="input input-border m-b-12"></TextField>
    <TextField hint="Email" [(ngModel)]="registerForm.email"class="input input-border m-b-12"></TextField>
    <TextField hint="Password" secure="true" [(ngModel)]="registerForm.password"class="input input-border m-b-12"></TextField>
  </StackLayout>

  <StackLayout class="input-field">
    <Label class="text-center" [text]="isLogin ? 'Don\'t have an account?' : 'Already have an account?'" textWrap="true" (tap)="toggleUser()" color="blue"></Label>
    <Button [text]="isLogin ? 'Register' : 'Login'" (tap)="isLogin ? loginUser() : registerUser()" class="--primary btn btn-primary btn-rounded-lg"></Button>
  </StackLayout>
</FlexboxLayout>
