<ActionBar title="New Game" class="action-bar">
   <NavigationButton visibility="collapsed"></NavigationButton>
   <ActionItem position="left" icon="font://&#xf0a8;" class="fas back-btn" (tap)="goBack()" clearHistory="true"></ActionItem>
</ActionBar>

<FlexboxLayout flexDirection="column" justifyContent="space-between" class="m-x-24 m-y-20" *ngIf="roster">
   <StackLayout class="form">
      <TextField #gameOpponent hint="Opponent" style.placeholderColor="white" [(ngModel)]="gameForm.opponent" returnKeyType="next" class="input input-bottom-line m-b-12" (focus)="focusField(teamName)" (blur)="blurField(teamName)"></TextField>
      <TextField #subFreq hint="Substitution Frequency" style.placeholderColor="white" [(ngModel)]="gameForm.subFrequency" returnKeyType="next" class="input input-bottom-line m-b-12" (focus)="focusField(subFreq)" (blur)="blurField(subFreq)"></TextField>
      <ListView [items]="roster.players" class="m-t-15 bg-primary players-list" height="320" separatorColor="transparent">
         <ng-template let-player="item" let-i="index">

            <StackLayout>
               <StackLayout class="m-x-10">                    
               <StackLayout orientation="horizontal" justifyContent="space-between">
                  <Label text="player.name" textWrap="true" class="text-primary font-weight-bold"></Label>
                  <Button text="&#xf056;" (tap)="togglePlayer(player)" class="fas modify-icon"></Button>
               </StackLayout>
               </StackLayout>

               <StackLayout class="hr-light m-y-10"></StackLayout>
            </StackLayout>

         </ng-template>
      </ListView>
   </StackLayout>
</FlexboxLayout>