<ActionBar title="New Game" class="action-bar">
   <NavigationButton visibility="collapsed"></NavigationButton>
   <ActionItem position="left" icon="font://&#xf0a8;" class="fas back-btn" (tap)="goBack()" clearHistory="true"></ActionItem>
</ActionBar>

<FlexboxLayout flexDirection="column" justifyContent="space-between" class="m-x-24 m-y-20" *ngIf="roster">
   <StackLayout>
      <Label [text]="roster.roster.title" textWrap="true" class="text-primary font-weight-bold team-name m-b-10 text-center"></Label>
   </StackLayout>

   <StackLayout class="form">

      <StackLayout class="input-field">
         <Label text="Substitution Frequency" keyboardType="number" class="text-primary font-weight-bold m-b-5"></Label>
         <TextField #subFreq [(ngModel)]="gameForm.subFrequency" returnKeyType="next" class="input text-primary m-b-12" (focus)="focusField(subFreq)" (blur)="blurField(subFreq)"></TextField>
         <StackLayout class="hr-light"></StackLayout>
      </StackLayout>
      <StackLayout class="input-field">
         <Label text="Opponent Name" class="text-primary font-weight-bold m-b-5"></Label>
         <TextField #gameOpponent [(ngModel)]="gameForm.opponent" returnKeyType="next" class="input text-primary m-b-12" (focus)="focusField(gameOpponent)" (blur)="blurField(gameOpponent)"></TextField>
         <StackLayout class="hr-light"></StackLayout>
      </StackLayout>

      <StackLayout class="input-field">
         <Label text="Select Players for the Game" textWrap="true" class="text-primary font-weight-bold m-b-20"></Label>
      </StackLayout>
      
      <ListView [items]="roster.players" class="m-b-30" height="250">
         <ng-template let-player="item">
            <StackLayout class="input-field">
               <StackLayout orientation="horizontal" (tap)="togglePlayer(player)">
                  <Button [text]="player.selected ? '&#xf192;' : '&#xf111;'" class="far text-primary m-r-20"></Button>
                  <Label [text]="player.name" class="text-primary font-weight-bold"></Label>
               </StackLayout>
            </StackLayout>
         </ng-template>
      </ListView>

      <StackLayout>
         <Button text="&#xf058;" textWrap="true" class="fas text-primary add-icon text-center" (tap)="selectStarters()"></Button>
      </StackLayout>
   </StackLayout>
</FlexboxLayout>